 
 
 .Me {
  position: absolute;
  top: 59%;
  left: 30%;
  transform: translate(-74%, 30%);
  color:black;
  font-family: 'Anton', sans-serif;
  
  
  .Colin {
  position: absolute;
  top: 80%;
  left: 30%;
  transform: translate(-74%, 30%);
  color:black;
  font-family: 'Anton', sans-serif;
  